<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
	
    <script src="../js/jquery.js"></script>
    <script>
    	// var CheckObject = function(){};
     //    CheckObject.prototype = {
     //        checkName : function(){
     //            alert("姓名");
     //            return this;
     //        },
     //        checkEmail : function(){
     //           alert("邮箱");
     //           return this;
     //        },
     //        checkPwd : function(){
     //            alert("密码");
     //            return this;
     //        }
     //    }
    	// var a = new CheckObject();
    	// a.checkName().checkPwd();
        Function.prototype.addMehod = function(name, fn){
            this[name] = fn;
        }
        var methods = function(){};
        // 或者
        // var methods = new Function();
        methods.addMehod('checkName',function(){
            alert("姓名");
        });
        methods.checkName();
    </script>
</body>

</html>