<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
	
    <script src="../js/jquery.js"></script>
    <script>
    	var CheckObject = function(){
    		this.checkName = function(){
    			alert("姓名");
    		},
    		this.checkEmail = function(){
    			alert("邮箱");
    		},
    		this.checkPwd = function(){
    			alert("密码");
    		}
    	}
    	var a = new CheckObject();
    	a.checkName();
    </script>
</body>

</html>